<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @comment.name %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_trinket_comment_path(@comment.trinket, @comment) %> |
<%= link_to 'Back', trinket_comments_path(@comment.trinket) %>
