<tr id="<%= dog.id %>">
  <td><%= dog.name %></td>
  <td><%= dog.description %></td>
  <td><%= link_to 'Show', dog %></td>
  <td><%= link_to 'Edit', edit_dog_path(dog), remote: true %></td>
  <td><%= link_to 'Destroy', dog, method: :delete, remote: true %></td>
</tr>
