<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <span id='article-name'><%= @article.name %></span>
</p>

<p>
  <strong>Description:</strong>
  <span id='article-description'><%= @article.description %></span>
</p>


<button id='article-edit-btn' class='btn btn-sm btn-default'>Edit</button>
<div id='article-form-holder' class='hidden'>
  <%= form_for(@article, format: :json, remote: true) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit 'Submit', class: 'btn btn-sm btn-success' %>
    </div>
  <% end %>
</div>
