<%= form_for @trinket, html: {multipart: true} do |f| %>
  <% if @trinket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trinket.errors.count, "error") %> prohibited this trinket from being saved:</h2>

      <ul>
      <% @trinket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
