<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trinket.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trinket.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @trinket.image_url %>
</p>

<%= link_to 'Edit', edit_trinket_path(@trinket) %> |
<%= link_to 'Back', trinkets_path %>

<h1>Listing comments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trinket.comments.each do |comment| %>
  <tr>
    <td><%= comment.name %></td>
    <td><%= comment.content %></td>
    <td><%= link_to 'Show', [comment.trinket, comment] %></td>
    <td><%= link_to 'Edit', edit_trinket_comment_path(comment.trinket, comment) %></td>
    <td><%= link_to 'Destroy', [comment.trinket, comment], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_trinket_comment_path(@trinket) %>

