<div class="lipsum-main container">
  <div class="col-md-6">
    <h2>Kittehs & JQuery</h2>

    <p class="buffer">List Uno</p>

    <ul class="list-uno">
      <li>Li Numero Uno</li>
      <li>Li Numero Dos</li>
      <li>Li Numero Tres</li>
      <li>Li Numero Cuatro</li>
      <li>Li Numero Cinco</li>
    </ul>

    <p class="buffer">List Dos</p>

    <ul class="list-dos">
      <li>Li Numero One</li>
      <li>Li Numero Two</li>
      <li>Li Numero Three</li>
      <li>Li Numero Four</li>
      <li>Li Numero Fiver</li>
    </ul>

    <%= link_to 'Show Heem', '#', class: 'btn btn-primary btn-xs', id: 'show-ipsum-p-btn' %>
    <p class="hidden" id="lipsum-p-toggler">Paragraph</p>
    <%= image_tag 'https://s-media-cache-ak0.pinimg.com/736x/4b/f7/17/4bf7175aa7702faa742401c80e13c69d.jpg', class: 'hidden', id: 'acekitty' %>


    <h2 id="kit_mover">Move or Don't Move Heem</h2>

    <div class="move-holder mover" style="position:absolute;">
      <%= image_tag 'https://s-media-cache-ak0.pinimg.com/736x/4b/f7/17/4bf7175aa7702faa742401c80e13c69d.jpg', class: 'hidden', class: 'side-to-side' %>
    </div>

  </div> <!-- end col-md-6 left column -->

  <div class="col-md-6 right-half">
    <div class="mountain-gat-holder">
      <div class="col-md-6">
        <%= form_tag("#", method: "get") do %>
          <%= text_field_tag :q, nil, id: 'inputter', class: 'form-control', placeholder: 'Enter Text. Watch Mountain Gat' %>
        <% end %>
      </div>
    <div class="col-md-6">
      <%= link_to 'First there is a Mountain', '#',
      class: 'btn btn-primary', id: 'show-hide-mountain-btn' %>
    </div>
    <%= image_tag 'cat-mountain.jpg', id: 'mountain-img' %>
    <span id="mountain-cover"></span>

    </div>

  </div> <!-- end col-md-6 right column -->

  <br style="clear:both;">
</div>
