<%= form_for(@critter) do |f| %>
  <% if @critter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@critter.errors.count, "error") %> prohibited this critter from being saved:</h2>

      <ul>
      <% @critter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :collar %><br>
    <%= f.check_box :collar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
