<div class="hidden", id="crit-form-holder">

  <%# url = @critter.new_record? ? critters_path(format: :json) : critter_path(@critter, format: :json) %>
  <%= form_for @critter, remote: true, format: :json do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :collar %><br>
      <%= f.check_box :collar %>
    </div>
    <div class="actions">
      <%= f.submit (@critter.new_record? ? 'Create' : 'Update')+' Critter', class: 'btn btn-primary btn-success', id: 'crit-form-submit-btn' %>
    </div>
  <% end %>
</div>
