<p id="notice"><%= notice %></p>

<h1>Listing Critters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Collar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @critters.each do |critter| %>
      <tr>
        <td><%= critter.name %></td>
        <td><%= critter.description %></td>
        <td><%= critter.collar %></td>
        <td><%= link_to 'Show', critter %></td>
        <td><%= link_to 'Edit', edit_critter_path(critter) %></td>
        <td><%= link_to 'Destroy', critter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Critter', new_critter_path, class: 'btn btn-primary' %>
