<p class="hidden" id="notice"><%= notice %></p>
<p class="hidden" id="alert-msg"><%= alert %></p>

<%= render 'shared/loading_overlay' %>

<h1 id="critter-header">Page of Critters</h1>
<%= link_to 'New Critter', '#', class: 'btn btn-primary new-crit-btn' %>

<table class="table table-striped" id="critter-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody id="crit-table-body">
    <!-- when the page loads, for each critter
    append a row with the critter info -->
  </tbody>
</table>

<%= render 'form' %>
